@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Supermercado+One&family=Yuji+Boku&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word>span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.word span:nth-child(odd) {
  border: 6px dashed green;
  text-decoration-style: double;
  text-decoration-thickness: 2px;
}

.word span:nth-child(even) {
  border: 10px double orangered;
  text-decoration-color: red;
  text-decoration-style: wavy;
  text-decoration-thickness: 3px;
}

.solo-letter {
  font-size: 72px;
  font-weight: bold;
  color: black;
  background-color: hotpink;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.symbols {
  font-size: 72px;
  font-weight: bold;
  color: yellow;
  background-color: black;
  text-decoration: none;
  font-family: 'Supermercado One', sans-serif;
}

/* Sample CSS for the WHY word */

.whyWLetter,
.wantedWLetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(0, 2, 2);
  background-color: crimson;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter,
.theHLetter,
.theyHLetter,
.theirHLetter {
  font-size: 36px;
  font-weight: bold;
  color: darkgoldenrod;
  background-color: white;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter,
.theyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  background-color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter,
.didDTwoLetter,
.frontendDLetter,
.developerDLetter,
.gardeningDLetter,
.wantedDLetter {
  font-size: 60px;
  font-weight: 400;
  color: firebrick;
  background-color: rgb(133, 131, 131);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.didILetter,
.gardeningILetter,
.improveILetter,
.theirILetter,
.skillsILetter {
  font-size: 42px;
  font-weight: 700;
  color: darkgreen;
  background-color: yellow;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Yuji Boku', sans-serif;
}



/* THE word */

.theTLetter,
.frontendTLetter,
.takeTLetter,
.theyTLetter,
.wantedTLetter,
.toTLetter,
.theirTLetter,
.rootTLetter {
  font-size: 64px;
  font-weight: bold;
  color: saddlebrown;
  background-color: rgb(5, 191, 253);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Supermercado One', sans-serif;
}


.theELetter,
.frontendELetter,
.developerELetter,
.developerETwoLetter,
.developerEThreeLetter,
.takeELetter,
.gardeningELetter,
.becauseELetter,
.becauseETwoLetter,
.theyELetter,
.wantedELetter,
.improveELetter,
.theirELetter {
  font-size: 48px;
  font-weight: 400;
  color: teal;
  background-color: red;
  text-decoration: underline;
  text-decoration-color: black !important;
  text-transform: uppercase;
  font-family: "Supermercado One", sans-serif;
}

/* FRONT-END word */



.frontendRLetter,
.developerRLetter,
.gardeningRLetter,
.improveRLetter,
.theirRLetter,
.rootRLetter {
  font-size: 72px;
  font-weight: normal;
  color: purple;
  background-color: cadetblue;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendOLetter,
.developerOLetter,
.toOLetter,
.improveOLetter,
.rootOLetter,
.rootOTwoLetter {
  font-size: 72px;
  font-weight: lighter;
  color: darkorange;
  background-color: navy;
  text-transform: lowercase;
  font-family: 'Lobster', sans-serif;
}

.frontendNLetter,
.frontendNTwoLetter,
.gardeningNLetter,
.gardeningNTwoLetter,
.wantedNLetter {
  font-size: 54px;
  font-weight: bold;
  color: aqua;
  background-color: darkslateblue;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Yuji Boku', sans-serif;
}

/* DEVELOPER word */

.developerVLetter,
.improveVLetter {
  font-size: 64px;
  font-weight: bold;
  color: darkolivegreen;
  background-color: darkviolet;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Yuji Boku', sans-serif;
}

.developerLLetter,
.skillsLLetter,
.skillsLTwoLetter {
  font-size: 38px;
  font-weight: 400;
  color: rgb(254, 4, 4);
  background-color: peru;
  text-transform: uppercase;
  font-family: 'Lobster', sans-serif;
}

.developerPLetter,
.upPLetter,
.improvePLetter {
  font-size: 72px;
  font-weight: normal;
  color: rgb(255, 145, 0);
  background-color: yellow;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Lobster', sans-serif;
}

/* TAKE word */


.takeALetter,
.gardeningALetter,
.becauseALetter,
.wantedALetter {
  font-size: 72px;
  font-weight: lighter;
  color: purple;
  background-color: pink;
  text-transform: uppercase;
  font-family: 'Lobster', sans-serif;
}

.takeKLetter,
.skillsKLetter {
  font-size: 64px;
  font-weight: 400;
  color: darkkhaki;
  background-color: darkslategrey;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Yuji Boku', sans-serif;
}

/* UP word */

.upULetter,
.becauseULetter {
  font-size: 72px;
  color: gold;
  background-color: gray;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* GARDENING word */

.gardeningGLetter,
.gardeningGTwoLetter {
  font-size: 64px;
  font-weight: normal;
  color: lime;
  background-color: rgb(46, 1, 46);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: 'Supermercado One', sans-serif;
}

/* BECAUSE word */

.becauseSLetter,
.skillsSLetter,
.skillsSTwoLetter {
  font-size: 52px;
  font-weight: 400;
  color: silver;
  background-color: steelblue;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}


/* THEY word */


/* WANTED word */


/* TO word */


/* IMPROVE word */


/* THEIR word */


/* ROOT word */


/* SKILLS word */


/* SYMBOLS */